---
import astroLogo from '../assets/logo-e-responsable.svg';
---

<Header id="header">
    <a href="https://astro.build">
        <img src={astroLogo.src} height="48" alt="Astro Homepage" />
    </a>
    <nav>
        <a class="button" href="/services/">Nos Services</a>
        <a class="button" href="/services/">Eco-conception</a>
    </nav>
</Header>

<style>